<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681094905569-i4prpp16p0g04v70b8c2p5khk3h1qv9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681094905569-i4prpp16p0g04v70b8c2p5khk3h1qv9n</string>
	<key>API_KEY</key>
	<string>AIzaSyCa8WuyjBVuxc4gi8LmDe7Fu5r8e3uTM48</string>
	<key>GCM_SENDER_ID</key>
	<string>681094905569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bruinlabs.bruinlabs</string>
	<key>PROJECT_ID</key>
	<string>bruinlabsproject</string>
	<key>STORAGE_BUCKET</key>
	<string>bruinlabsproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681094905569:ios:6a481f7f2fc800949a81a0</string>
	<key>DATABASE_URL</key>
	<string>https://bruinlabsproject.firebaseio.com</string>
</dict>
</plist>